<nav class="navbar navbar-light bg-faded marg-down">
  <a class="navbar-brand" href="#">GymHub</a>
    <ul class="nav">
      <li class="nav-item active">
        <%= link_to 'Home', authenticated_root_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'All Post', posts_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Add Post', new_post_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
            <%= link_to destroy_user_session_path, :method => :delete, :class => 'nav-link' do %> 
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            <% end %>
      </li>
    </ul>
</nav>
